= simple_form_for(@item,:html => { :multipart => true } ) do |f|
  = f.error_notification

  .row
    .col-md-8.border-right
      .form-inputs
        = f.input :title#,wrapper_html: {class: "col-md-9"}
      .row
        = f.input :sn,wrapper_html: {class: "col-md-4"}
        = f.input :name,wrapper_html: {class: "col-md-4"}
        = f.input :year,wrapper_html: {class: "col-md-4"},as: :select,collection: (1990..2014).to_a.reverse
      .row
        = f.input :made_by,wrapper_html: {class: "col-md-4"}
        = f.input :spec,wrapper_html: {class: "col-md-4"}
        = f.input :unit,wrapper_html: {class: "col-md-4"}
      .row
        = f.input :price,wrapper_html: {class: "col-md-4"}
        = f.input :price_vip,wrapper_html: {class: "col-md-4"}
      .row
        = f.input :moq,wrapper_html: {class: "col-md-4"}
        = f.input :stock,wrapper_html: {class: "col-md-4"}
    .col-md-3
      -if @item.id.present?
        %h4 当前图片
        =image_tag @item.photo.url(:thumb)
        %h4 更改图片
      -else
        %h3 上传图片
      =f.file_field :photo
      =f.error :photo


  .form-actions
    = f.button :submit,class: "btn btn-primary"
