-title "商品列表"
.row
  .col-md-9
    .filters
      %dl
        %dt 品牌
        %dd
          -%w(大益 中茶 老同志).each do |r|
            =link_to r
    %items
      -item = @items.first
      -#- @items.each do |item|
      -(1..20).each do |i|
        %item
          =image_tag item.photo.url(:thumb)
          <price>￥#{item.price}</price> / #{item.unit}
          .title
            =link_to item.title,item
          =form_for item,html:{class: "form-inline"},remote: true do |f|
            =f.text_field :moq,class: "form-control",size: 4
            =f.submit '加入购物车',class: "btn btn-info"
      .clearfix
  .col-md-3
    .panel.panel-info
      .panel-heading
        %h3.panel-title 购物车
      .panel-body
        .tb.tb-cart
          -(1..8).each do |i|
            .tr.tr-item
              .td.photo
                =image_tag item.photo.url(:thumb)
              .td.title
                =link_to item.title,item
                %br
                单价: 
                <price>￥#{item.price}</price> / #{item.unit}
              .td
                =form_for item,html:{class: "form-inlinex"},remote: true do |f|
                  =f.text_field :moq,class: "form-control input-sm",size: 2
                  =f.submit '更新',class: "btn btn-info btn-xs"

%hr.small
.text-center
  -if policy(Item).new?
    = link_to '添加商品', new_item_path,class: "btn btn-primary"
