= simple_form_for(@brand) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :priority
    -#= f.input :items_count

  .form-actions
    = f.button :submit,class: "btn btn-primary"
